pysqlite3-binary
streamlit
pytesseract
Pillow
pypdf
reportlab
matplotlib
torchvision
faiss-cpu
sentence-transformers
chromadb
fastembed==0.2.7
langchain-core
langchain-groq
langchain-community
langchain-text-splitters
langchain-mistralai
mistralai>=1.2.0
