streamlit
pytesseract
Pillow
pypdf
reportlab
matplotlib
torchvision
faiss-cpu
chromadb
fastembed
sentence-transformers
langchain-core
langchain-groq
langchain-community
langchain-text-splitters
langchain-mistralai
mistralai>=1.2.0
